[Unit]
Description=Entropy Harvesting Daemon
Documentation=man:haveged(8)
DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target systemd-update-done.service

[Service]
ExecStart=/usr/sbin/haveged -F -w 1024 -v 1
SuccessExitStatus=143

[Install]
WantedBy=sysinit.target
